<h2><%= _subject %> from <%= name %></h2>
<p>Request recieved <%= requestedTime %><p>
<p>
  <a href="mailto:<%= _replyto %>?Subject=RE:<%= _subject %>" target="_top">Reply to <%= name %></a>
</p>

<table>
  <tr><td <%=s%>> Name           </td> <td <%=s%>><%= name %>                 </tr>
  <tr><td <%=s%>> Reply To       </td> <td <%=s%>><%= _replyto %></td>        </tr>
  <tr><td <%=s%>> Service Type   </td> <td <%=s%>><%= _service %></td>        </tr>
  <tr><td <%=s%>> Service From   </td> <td <%=s%>><%= _location %></td>        </tr>
  <tr><td <%=s%>> Phone          </td> <td <%=s%>><%= phone %></td>           </tr>
  <tr><td <%=s%>> Flexible Date? </td> <td <%=s%>><%= flexible_dates %></td>  </tr>
  <tr><td <%=s%>> Start          </td> <td <%=s%>><%= start_date %> at <%= start_time %> </td></tr>
  <tr><td <%=s%>> End            </td> <td <%=s%>><%= end_date %> at <%= end_time %>     </td></tr>
  <tr><td <%=s%>> Guest Count    </td> <td <%=s%>><%= guest_count %></td>     </tr>
  <tr><td <%=s%>> Event Type     </td> <td <%=s%>><%= event_type %></td>      </tr>
  <tr><td <%=s%>> Location       </td> <td <%=s%>><%= location %></td>        </tr>
  <tr><td <%=s%>> How I heard about slows    </td> <td <%=s%>><%= how_did_you_hear %>    </td></tr>
  <tr><td <%=s%>> More Info      </td> <td <%=s%>><%= more_info %></td>       </tr>
</table>

<p>
  <a href="mailto:<%= _replyto %>?Subject=RE:<%= _subject %>" target="_top">Reply to <%= name %></a>
</p>
